{% extends 'base_detail.html' %}

{% load i18n unicorn_tags %}

{% block content %}

{% with active_tab='details' %}
{% include 'snippets/recipe_tabs.html' %}
{% endwith %}

<p>{{ object.info }}</p>

<dl>
  <dt>{% trans 'Source' %}</dt>
  <dd>
    <a href="{{ object.source|detail_url }}">{{ object.source }}</a>
  </dd>
  <dt>{% trans 'Yield' %}</dt>
  <dd>
    {{ object.amount}}
    <a href="{{ object.amount_unit|detail_url }}">{{ object.amount_unit }}</a>
  </dd>
</dl>

{% with materials=object.recipematerial_set.all %}
{% if materials|length %}
<h2>
  {% trans 'Materials' %}
  {% inline_add_action 'recipematerial' object '?fk_field=recepy' %}
</h2>

<ul class="list-group">
  {% for material in materials %}
  <li class="list-group-item">
    {{ material.amount }}
    <a href="{{ material.unit|detail_url }}">{{ material.unit }}</a>
    <a href="{{ material.material|detail_url }}">{{ material.material }}</a>
    {% if material.malted %}
    <span class="badge badge-pill badge-info">
      {% trans 'Malted' %}
    </span>
    {% endif %}    
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}


{% endblock content %}
