{% load i18n unicorn_tags %}

<div class="card">
  <div class="card-body">
    <dl class="row">
      <dt class="col-3">{% trans 'Factor' %}</dt>
      <dd class="col-9">{{ path.factor|floatformat:2 }}</dd>
      <dt class="col-3">{% trans 'Precision' %}</dt>
      <dd class="col-9">{{ path.precision|floatformat:3 }}</dd>      
    </dl>
    
    <ol>
      {% for conversion in path %}
      <li>
        <a href="{{ conversion|detail_url }}">
          {{ conversion }}
          {% if conversion.status %}
          <span class="badge badge-pill badge-{{ conversion.status|status_class }}">
            {{ conversion|status_label }}
          </span>
          {% endif %}
          
        </a>
      </li>
      {% endfor %}
    </ol>
  </div>
</div>
