{% load i18n unicorn_tags %}

<section>
  <h2>
    {% trans title %}
    {% inline_add_action submodel object extra_args %}
  </h2>

  <ul class="list-group">
    {% for item in items %}
    <li class="list-group-item">
      <a href="{{ item|detail_url }}">{{ item }}</a>

      <div class="float-right">
        {% inline_edit_action item object %}
        {% inline_delete_action item object %}
      </div>

      {% if item.byline %}
      <div class="clearfix">
        <em class="text-secondary">{{ item.byline }}</em>
      </div>
      {% endif %}
      
    </li>
    {% endfor %}
  </ul>
</section>
