{% extends 'bootstrap4/bootstrap4.html' %}

{% load i18n bootstrap4 static %}

{% block bootstrap4_extra_head %}
<link rel="stylesheet"
      xxhref="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      href="/static/fontawesome/css/all.css"
      xxintegrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
<link rel="stylesheet"
      href="{% static 'unicorn.css' %}" type="text/css">
{% endblock %}

{% block bootstrap4_extra_script %}
<script type="text/javascript" src="{% static 'unicorn.js' %}"></script>
{% endblock %}

{% block bootstrap4_content %}
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="{% url 'home' %}">
    <span class="fas fa-beer" />
    Unicorn
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if view.view_name.0 == 'source' %}active{% endif %}">
        <a class="nav-link" href="{% url 'list' model='source' %}">
          {% trans 'Sources' %}
        </a>
      </li>
      <li class="nav-item {% if view.view_name.0 == 'location' %}active{% endif %}">
        <a class="nav-link" href="{% url 'list' model='location' %}">
          {% trans 'Locations' %}
        </a>
      </li>
      <li class="nav-item {% if view.view_name.0 == 'baseunit' %}active{% endif %}">
        <a class="nav-link" href="{% url 'list' model='baseunit' %}">
          {% trans 'Units' %}
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="materialMenu"
           role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          {% trans 'Materials' %}
        </a>
        <div class="dropdown-menu" aria-labelledby="materialMenu">
          <a class="dropdown-item" href="{% url 'list' model='fermentable' %}">
            {% trans 'Fermentables' %}
          </a>
          <a class="dropdown-item" href="{% url 'list' model='hop' %}">
            {% trans 'Hops' %}
          </a>
          <a class="dropdown-item" href="{% url 'list' model='nonfermentable' %}">
            {% trans 'Other' %}
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'list' model='category' %}">
            {% trans 'Category' %}
          </a>          
        </div>
      </li>
      <li class="nav-item {% if view.view_name.0 == 'style' %}active{% endif %}">     
        <a class="nav-link" href="{% url 'list' model='style' %}">
          {% trans 'Styles' %}
        </a>
      </li>
      <li class="nav-item {% if view.view_name.0 == 'conversion' %}active{% endif %}">
        <a class="nav-link" href="{% url 'list' model='conversion' %}">
          {% trans 'Conversions' %}
        </a>
      </li>
      <li class="nav-item {% if view.view_name.0 == 'recipe' %}active{% endif %}">
        <a class="nav-link" href="{% url 'list' model='recipe' %}">
          {% trans 'Recipes' %}
        </a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right">
      {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           data-toggle="dropdown">
          {{ request.user }}
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'logout' %}">
            {% trans 'Logout' %}
          </a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">
          {% trans 'Login' %}
        </a>
      </li>
      {% endif %}
  </div>
</nav>

<div class="container">
  {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

  {% block breadcrumbs %}{% endblock %}

  <h1>
    {% block title %}{% endblock %}
    <div role="toolbar" class="d-inline">
      {% block actions %}{% endblock %}
    </div>
  </h1>

  {% block content %}{% endblock %}
</div>

{% endblock %}
