{% extends 'bootstrap4/bootstrap4.html' %}

{% load i18n bootstrap4 %}

{% block bootstrap4_extra_head %}
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
{% endblock %}

{% block bootstrap4_content %}

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="{% url 'home' %}">
    <span class="fas fa-beer" />
    Unicorn
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link
                {% if view.view_name.0 == 'source' %}active{% endif %}"
         href="{% url 'list' model='source' %}">
        {% trans 'Sources' %}
      </a>
      <a class="nav-item nav-link
                {% if view.view_name.0 == 'location' %}active{% endif %}"
         href="{% url 'list' model='location' %}">
        {% trans 'Locations' %}
      </a>
      <a class="nav-item nav-link
                {% if view.view_name.0 == 'unit' %}active{% endif %}"
         href="{% url 'list' model='unit' %}">
        {% trans 'Units' %}
      </a>
      <a class="nav-item nav-link
                {% if view.view_name.0 == 'material' %}active{% endif %}"
         href="{% url 'list' model='material' %}">
        {% trans 'Materials' %}
      </a>
      <a class="nav-item nav-link
                {% if view.view_name.0 == 'style' %}active{% endif %}"
         href="{% url 'list' model='style' %}">
        {% trans 'Styles' %}
      </a>
      <a class="nav-item nav-link
         {% if view.view_name.0 == 'conversion' %}active{% endif %}"
         href="{% url 'list' model='conversion' %}">
        {% trans 'Conversions' %}
      </a>
      <a class="nav-item nav-link
         {% if view.view_name.0 == 'recipe' %}active{% endif %}"
         href="{% url 'list' model='recipe' %}">
        {% trans 'Recipes' %}
      </a>
    </div>
  </div>
</nav>

<div class="container">
  {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

  {% block breadcrumbs %}{% endblock %}

  <h1>
    {% block title %}{% endblock %}
    <div role="toolbar" class="d-inline">
      {% block actions %}{% endblock %}
    </div>
  </h1>

  {% block content %}{% endblock %}
</div>

{% endblock %}
