{% extends 'base.html' %}

{% load i18n bootstrap4 %}

{% block title %}
<h1>{% blocktrans with label=view.ct_label %}Add {{label}}{% endblocktrans %} </h1>
{% endblock %}

{% block content %}

{% block help %}
{% if form.help %}
<div id="status" class="alert alert-info alert-dismissable">
  <button type="button" class="close"
          data-dismiss="alert" aria-hidden="true">
    &times;
  </button>
  <span id="status-message">
    {{ form.help|safe }}
  </span>
</div>
{% endif %}
{% endblock %}

{% bootstrap_messages %}

{% block form %}
<form action="{% block action_url %}{{ view.action_url }}{% endblock %}"
      method="POST" 
      enctype="multipart/form-data"
      class="form">

    {% csrf_token %}
    {{ form.media }}
    {% bootstrap_form form %}

    {% if view.formset %}
    <h2>
      {{ view.formset_label }}
      <button class="btn btn-primary" type="button"
              data-toggle="collapse" data-target="#formset_collapse"
              aria-expanded="false" aria-controls="formset_collapse"
              title="{% trans 'Show subformset' %}">
        <span class="fas fa-angle-down" />
      </button>
    </h2>
    <section class="collapse" id="formset_collapse">
      {% bootstrap_formset view.formset layout='horizontal' %}
    </section>
    {% endif %}
        
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% trans 'Save' %}
    </button>
    <a href="{{ view.cancel_url }}" class="btn btn-default">
      {% trans 'Cancel' %}
    </a>
    
    {% endbuttons %}
</form>
{% endblock form %}

{% endblock content %}
