{% extends 'base.html' %}

{% block content %}

<h1>Unicorn - rekenen met oude bier recepten</h1>

Unicorn is een systeem dat het mogelijk maakt oude recepten met
niet-metrische maten om te zetten naar metrische maten. De omzetting
geschiedt op basis van conversies, zoals deze gevonden kunnen worden
in historische bronnen. Conversies kunnen door Unicorn worden
aaneengeregen om van de eenheid zoals gevonden in het recept te komen
tot metrische eenheden. Het systeem past heuristieken toe om te komen
tot de meest waarschijnlijke omzetting.

<hr>

<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="sections-tabs" role="tablist"
         aria-orientation="vertical">
      <a class="nav-link active" id="sources-tab" data-toggle="pill"
         href="#sources" role="tab" aria-controls="sources"
         aria-selected="true">Bronnen</a>
      <a class="nav-link" id="locations-tab" data-toggle="pill"
         href="#locations" role="tab" aria-controls="locations"
         aria-selected="false">Plaatsen</a>
      <a class="nav-link" id="units-tab" data-toggle="pill"
         href="#units" role="tab" aria-controls="units"
         aria-selected="false">Eenheden</a>
      <a class="nav-link" id="materials-tab" data-toggle="pill"
         href="#materials" role="tab" aria-controls="materials"
         aria-selected="false">Grondstoffen</a>
      <a class="nav-link" id="styles-tab" data-toggle="pill"
         href="#styles" role="tab" aria-controls="styles"
         aria-selected="false">Bierstijlen</a>      
      <a class="nav-link" id="conversions-tab" data-toggle="pill"
         href="#conversions" role="tab" aria-controls="conversions"
         aria-selected="false">Conversies</a>      
      <a class="nav-link" id="recipes-tab" data-toggle="pill"
         href="#recipes" role="tab" aria-controls="recipes"
         aria-selected="false">Recepten</a>            
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="sections-content">
      <div class="tab-pane fade show active" id="sources" role="tabpanel"
           aria-labelledby="sources-tab"> Historische bronnen zijn de
        basis van Unicorn. Recepten en conversies moeten een
        bronvermelding hebben.  Er is redelijk veel bronnen materiaal
        met conversie informatie, maar veel bronnen lijken elkaars
        data te hebben overgenomen. Bronnen met louter
        geinterpreteerde data, zoals de site van het KNAW over oude
        maten en gewichten, worden bij voorkeur niet gebruikt.
      </div>
      <div class="tab-pane fade" id="locations" role="tabpanel"
           aria-labelledby="locations-tab"> Lijst van oude steden en
        dorpen. Het systeem gaat er van uit dat er geen plaatsnamen
        bestaan die vaker voorkomen. In werkelijkheid is dit
        natuurlijk wel het geval, maar momenteel lijken er geen
        recepten of conversies voor te komen die in dit opzicht ambigu
        zijn.
      </div>
      <div class="tab-pane fade" id="units" role="tabpanel"
           aria-labelledby="units-tab">
        Eenheden kunnen voorkomen als algemene eenheid, en kunnen
        indien van toepassing worden onderverdeeld in plaatselijke
        eenheden. De liter is bijvoorbeeld een generieke, metrische
        maat, maar de 'hoed' komt voor in verschillende steden. Deze
        worden allen als verschillend beschouwd.
      </div>
      <div class="tab-pane fade" id="materials" role="tabpanel"
           aria-labelledby="materials-tab">

        Dit systeem werkt met de aanname dat er verschillend maten
        werden gehanteerd voor verschillende grondstoffen. Veelal
        wordt het volgende onderscheid aangetroffen:

        <dl>
          <dt>Koren</dt>
          <dd>De granen tarwe, gerst en rogge worden meestal met dezelfde
            maten gemeten</dd>
          <dt>Haver</dt>
          <dd>Eigen maat</dd>
          <dt>Hop</dt>
          <dd>Eigen maat</dd>
        </dl>

        In sommige gevallen geven historische bronnen expliciet weer
        om welke grondstof het gaat. Zo niet, dan wordt de gevonden
        conversie alleen toegepast op 'koren'.

      </div>

      <div class="tab-pane fade" id="styles" role="tabpanel"
           aria-labelledby="styles-tab">
        
      </div>

      <div class="tab-pane fade" id="conversions" role="tabpanel"
           aria-labelledby="conversions-tab"> Conversies zijn formules
        voor het omreken van een specifieke eenheid naar een andere
        eenheid. In sommige gevallen zelfs naar meer eenheden, zoals
        in het geval van bijvoorbeeld:

        <blockquote class="blockquote">
          Te Montfoerde 4 hoet maken 4 &frac12; hoet ende 6 achtendeel van
          haver te Delff.
        </blockquote>

        De conversie kan worden gemarkeerd met drie verschillende opties:

        <dl class="row">
          <dt class="col-sm-3">Referentie</dt>
          <dd class="col-sm-9">Voorzien van bron</dd>
          <dt class="col-sm-3">Afgeleid</dt>
          <dd class="col-sm-9">Afgeleid van andere conversie</dd>
          <dt class="col-sm-3">Ambigu</dt>
          <dd class="col-sm-9">Kan op verschillende manieren worden opgevat</dd>
        </dl>

        In geval van een complexe conversie, moeten alle onderdelen van het
        'rechterdeel' verwijzen naar dezelfde plaats, om oneindig geneste
        constructies te voorkomen.
        
      </div>
      
      <div class="tab-pane fade" id="recipes" role="tabpanel"
           aria-labelledby="recipes-tab">
      </div>

    </div>
  </div>
</div>
    
{% endblock %}
