{% extends 'base.html' %}

{% block content %}

<h2>Bronnen</h2>

Alleen oorspronkelijke bronnen, dus bronnen uit de tijd waarin de
waarneming is vastgelegd, gelden als autoriteit. Secundaire bronnen
moeten als zodanig worden aangegeven, bijv. de maten en gewichten
pagina van het KNAW.


<h2>Grondstoffen</h2>

Dit systeem werkt met de aanname dat er verschillend maten werden
gehanteerd voor verschillende grondstoffen. We maken hierbij het
volgende onderscheid:

<dl>
  <dt>Koren</dt>
  <dd>De granen tarwe, gerst en rogge worden meestal met dezelfde
  maten gemeten</dd>
  <dt>Haver</dt>
  <dd>Veelal eigen maat</dd>
  <dt>Hop</dt>
  <dd>Veelal eigen maat</dd>

</dl>


{% endblock %}
