{% extends 'base_detail.html' %}

{% load i18n bootstrap4 unicorn_tags %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{ object|detail_url }}">
      {% trans 'Details' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">
      {% trans 'Convert' %}
    </a>
  </li>
</ul>

{% bootstrap_messages %}

<form action="{% url 'convert_recipe' pk=object.id %}"
      method="POST"
      enctype="multipart/form-data"
      class="form">

    {% csrf_token %}
    {{ form.media }}

    {% block formfields %}
    {% bootstrap_form form %}
    {% endblock %}

    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% trans 'Convert' %}
    </button>
    {% endbuttons %}
</form>

{% if view.converted_yield %}
<h2>{% trans 'Specifications' %}</h2>

<dl class="row">
  <dt class="col-3">&deg; Plato</dt>
  <dd class="col-9">{{ view.gravity.plato|floatformat:1 }}</dd>
  <dt class="col-3">OG</dt>
  <dd class="col-9">{{ view.gravity.og|floatformat:3 }}</dd>
  <dt class="col-3">kg/hl</dt>
  <dd class="col-9">{{ view.gravity.kghl|floatformat:2 }}</dd>
  <dt class="col-3">Alc. (vol) (Assuming 50% attenuation)</dt>
  <dd class="col-9">{{ view.gravity.alc|floatformat:1 }}</dd>
  <dt class="col-3">IBU</dt>
  <dd class="col-9">{{ view.ibu }}</dd>
</dl>


{% with converted=view.converted_yield %}
<table class="table">
  <thead>
    <tr>
      <th />
      <th>{% trans 'Original' %}</th>
      <th>{% trans 'Converted' %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>{% trans 'Yield' %}</th>
      <td>
        {{ object.amount}}
        <a href="{{ object.amount_unit|detail_url }}">
          {{ object.amount_unit }}
        </a>
      </td>
      <td>
        {{ converted.amount }}
        <a href="{{ converted.unit|detail_url }}">{{ converted.unit }}</a>
      </td>
    </tr>
    <tr>
      <th>{% trans 'Conversion' %}</th>
      <td colspan="2">
        <ol>
          {% for conversion in converted.path %}
          <li>
            <a href="{{ conversion|detail_url }}">
              {{ conversion }}
            </a>
          </li>
          {% endfor %}
        </ol>

      </td>
    </tr>
  </tbody>
</table>
{% endwith %}

{% with materials=object.recipematerial_set.all %}
{% if materials|length %}
<h2>{% trans 'Materials' %}</h2>

{% with converted=view.materials %}
<table class="table">
  <thead>
    <tr>
      <th />
      <th>{% trans 'Original' %}</th>
      <th>{% trans 'Converted' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for material in materials %}
    <tr>
      <th>
        <a href="{{ material.material|detail_url }}">{{ material.material }}</a>
      </th>
      <td>
        {{ material.amount }}
        <a href="{{ material.unit|detail_url }}">{{ material.unit }}</a>
      </td>
      <td>
        {% if converted|get:material.id|get:'amount' == -1 %}
        <div class="alert alert-warning">
          {% trans 'No conversion path found' %}
        </div>
        {% else %}
        {{ converted|get:material.id|get:'amount'|floatformat:2 }}
        {{ converted|get:material.id|get:'unit' }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>{% trans 'Conversion' %}</th>
      <td colspan="3">
        <ol>
          {% for conversion in converted|get:material.id|get:'path' %}
          <li>
            <a href="#"
               data-toggle="modal" data-target="#c_{{ conversion.id }}">
              {{ conversion }}
              {% if conversion.status %}
              <span class="badge badge-pill badge-{{ conversion.status|status_class }}">
                {{ conversion|status_label }}
              </span>
      {% endif %}

            </a>

            <div class="modal fade" id="c_{{ conversion.id }}" tabindex="-1"
                 role="dialog" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">{{ conversion }}</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <dl class="row">
                      <dd class="col-3">{% trans 'Source' %}</dd>
                      <dt class="col-9">                        
                        {% for source in conversion.source.all %}
                        {{ source }}
                        {% endfor %}
                      </dt>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            
          </li>
          {% endfor %}
        </ol>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endwith %}
{% endif %}
{% endwith %}
{% endif %}


{% endblock content %}
