{% extends 'base_detail.html' %}

{% load i18n unicorn_tags %}

{% block content %}

{% if unit.location %}
<dl>
  <dt>{% trans 'Location' %}</dt>
  <dd><a href="{{ unit.location|detail_url }}">{{ unit.location }}</a></dd>
</dl>
{% endif %}

<section>
  <h2>
    {% trans 'Conversions' %}
    {% inline_add_action 'conversion' object '' '?fk_field=from_unit' %}
  </h2>

  <ul class="list-group">
    {% for conversion in object.list_conversions %}
    <li class="list-group-item">
      <a href="{{ conversion|detail_url }}">{{ conversion }}</a>

      <div class="btn-group float-right actions">
        {% inline_edit_action conversion object 'btn-sm' %}
        {% inline_delete_action conversion object 'btn-sm' '?fk_field=from_unit' %}
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
